Use markdown cells to record your answers to any questions asked in this exercise. On the menu bar, you can toggle the cell type from `Code` to `Markdown`.

In [14]:
import pandas as pd

In [15]:
import numpy as np

In [16]:
import matplotlib.pyplot as plt

In [17]:
import seaborn as sns

Using the pandas `read_csv()` method, read the GDP dataset into your notebook as a DataFrame called `gdp_df`. Take a look at the first few and last few rows to familiarize yourself with what is contained in this dataset.

In [18]:
gdp_df = pd.read_csv('../data/gdp_percapita.csv')
gdp_df

     Country or Area  Year        Value  Value Footnotes
0        Afghanistan  2023  1992.424394              NaN
1        Afghanistan  2022  1981.710168              NaN
2        Afghanistan  2021  2144.166570              NaN
3        Afghanistan  2020  2769.685745              NaN
4        Afghanistan  2019  2927.245144              NaN
...              ...   ...          ...              ...
8214        Zimbabwe  1994  3965.730986              NaN
8215        Zimbabwe  1993  3634.750494              NaN
8216        Zimbabwe  1992  3649.891947              NaN
8217        Zimbabwe  1991  4126.405247              NaN
8218        Zimbabwe  1990  4013.299059              NaN

[8219 rows x 4 columns]

How many rows and columns are in `gdp_df`? What are the data types of each column?

In [19]:
gdp_df.shape

(8219, 4)

Rows = 8219, Columns = 4

In [20]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8219 entries, 0 to 8218
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  8219 non-null   object
 1   Year             8219 non-null   int64
 2   Value            8219 non-null   float64
 3   Value Footnotes  0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 257.0+ KB

In [21]:
gdp_df.dtypes

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

Drop the `Value Footnotes` column and rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'.

In [22]:
gdp_df  = gdp_df.drop(columns = 'Value Footnotes')

In [23]:
gdp_df

     Country or Area  Year        Value
0        Afghanistan  2023  1992.424394
1        Afghanistan  2022  1981.710168
2        Afghanistan  2021  2144.166570
3        Afghanistan  2020  2769.685745
4        Afghanistan  2019  2927.245144
...              ...   ...          ...
8214        Zimbabwe  1994  3965.730986
8215        Zimbabwe  1993  3634.750494
8216        Zimbabwe  1992  3649.891947
8217        Zimbabwe  1991  4126.405247
8218        Zimbabwe  1990  4013.299059

[8219 rows x 3 columns]

In [24]:
gdp_df = gdp_df.rename(columns = {'Country or Area':'Country', 'Year':'Year', 'Value':'GDP_Per_Capita'})

In [25]:
gdp_df

          Country  Year  GDP_Per_Capita
0     Afghanistan  2023     1992.424394
1     Afghanistan  2022     1981.710168
2     Afghanistan  2021     2144.166570
3     Afghanistan  2020     2769.685745
4     Afghanistan  2019     2927.245144
...           ...   ...             ...
8214     Zimbabwe  1994     3965.730986
8215     Zimbabwe  1993     3634.750494
8216     Zimbabwe  1992     3649.891947
8217     Zimbabwe  1991     4126.405247
8218     Zimbabwe  1990     4013.299059

[8219 rows x 3 columns]

How many countries have data for all years? Which countries are missing many years of data? Look at the number of observations per year. What do you notice?

In [49]:
country_count = gdp_df.Country.value_counts().to_frame().reset_index()

In [51]:
country_count.loc[country_count['count'] == 34]

                         Country  count
0    Africa Eastern and Southern     34
1     Africa Western and Central     34
2                        Albania     34
3                        Andorra     34
4                        Algeria     34
..                           ...    ...
223                 Turkmenistan     34
224                  Timor-Leste     34
225                         Togo     34
226          Trinidad and Tobago     34
227                      Tunisia     34

[228 rows x 2 columns]

In [52]:
country_count.loc[country_count['count'] <= 20]

                       Country  count
241             Cayman Islands     18
242              Faroe Islands     16
243                     Kosovo     16
244  Sint Maarten (Dutch part)     15
245   Turks and Caicos Islands     13
246                   Djibouti     11

In [54]:
gdp_df['Year'].value_counts()

Year
2020    247
2021    247
2013    247
2016    247
2019    247
2018    247
2017    247
2014    247
2015    247
2022    246
2011    246
2012    246
2009    245
2010    245
2008    244
2007    242
2006    242
2005    241
2003    241
2004    241
2002    241
2023    240
2001    240
2000    240
1999    238
1998    238
1997    238
1996    236
1995    236
1994    235
1993    234
1992    234
1991    234
1990    233
Name: count, dtype: int64

All countries in the database have GDP_Per_Capital data starting in 2015.

For this question, you're going to create some visualizations to compare GDP per capita values for the years 1990, 2000, 2010, and 2020. Start by subsetting your data to just these 4 years into a new DataFrame named gdp_decades.

In [66]:
gdp_decades = gdp_df.loc[(gdp_df.Year == 1990) | (gdp_df.Year == 2000) | (gdp_df.Year == 2010) | (gdp_df.Year == 2020)]

In [67]:
gdp_decades

                          Country  Year  GDP_Per_Capita
3                     Afghanistan  2020     2769.685745
13                    Afghanistan  2010     2848.586061
23                    Afghanistan  2000     1617.826475
27    Africa Eastern and Southern  2020     3861.111238
37    Africa Eastern and Southern  2010     3863.836012
...                           ...   ...             ...
8184                       Zambia  1990     2425.111287
8188                     Zimbabwe  2020     2987.269823
8198                     Zimbabwe  2010     2572.769992
8208                     Zimbabwe  2000     4071.022001
8218                     Zimbabwe  1990     4013.299059

[965 rows x 3 columns]